*

!package.json
!README.md
!LICENSE
!VERSION
!pyproject.toml
!scripts/
!scripts/logics-manager.py
!scripts/npm/
!scripts/npm/logics-manager.mjs
!logics_manager/
!logics_manager/**
**/__pycache__/
**/*.pyc
