**/.git/**
**/.svn/**
**/.hg/**
**/node_modules/**
**/.vscode/**
**/out/**
!out/extension.js
!out/**/*.js
!out/**/*.js.map
src/**
tests/**
debug/**
.github/**
.gitignore
.gitmodules
tsconfig.json
vitest.config.ts
logics/**
